*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.contactme{
    display: flex;
    margin: 15vh 20vh;
}

.contactme img{
    width: 50vh;
    height: auto;
    padding: 0 6vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    padding: 2rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  
  .form {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 0.8rem;
    color: rgb(252, 255, 255);
    
    transition: all .3s ease;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 1rem;
    color: white;
    border-radius: 0.1rem;
    border: 0.1rem solid rgb(255, 255, 255);
    margin-bottom: 2rem;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 0.1rem;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: #27408b;
  }
  
  .background-clip{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .BackBTn {
    padding: 0.6rem 0.7rem;
    margin: 1em 1em;
    border-radius: 1em;
    border: 2px solid black;
    max-width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.BackBTn i {
    font-size: 1.6rem;
    transition: transform 1s ease;
    padding: 0 0.2rem;
}

.BackBTn a {
  text-decoration: none;
  color: black;
}

.back-text {
    display: none; 
    margin-left: 0.5rem; 
    font-size: 1.2rem;
    font-weight: bold;
}

.BackBTn:hover i {
    transform: translateX(1.4vh) rotate(360deg);
}

.BackBTn:hover .back-text {
    display: inline;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.BackBTn:active {
  transform: translateY(-3px);
  box-shadow: 0 12rem 18rem #ffffff;
}

.BackBTn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}