nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  color: white;
  background-color: #383737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 10;
}

  nav ul{
      padding: 20px;
  }
  nav li{
      display: inline-block;
      list-style: none;
      font-size: 0.7rem;
      margin: 0 0.4rem;
      padding: 0.5rem 0.5rem;
      border-radius: 1em;
      transition: 0.3s;
      cursor: pointer;
  }
  nav li a{
      font-family: 'Poppins';
      font-weight: bold;
      text-transform: uppercase;
      padding: 0px 10px;
      text-decoration: none;
      color: white;
  }

  nav .logo{
    margin: 0 2%;
    cursor: pointer;
  }

  li a svg:hover{
    color: black;
  }

nav li :hover{
  color: black;
  background-color: cyan;
  padding: 0.5rem 0.5rem;
  border-radius: 1em;
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

nav li:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav li:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn {
  padding: 0.8rem 0.8rem;
  border-radius: 1em;
  background-color: cyan;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: black;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn i {
  font-size: 1.1rem;
  padding: 0rem 0.3em;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vh;
  z-index: 999;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

.sidebar li {
  width: 100%;
  display: flex;
}

.sidebar a {
  width: 100%;
  display: block;
  padding: 10px;
}
