*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  color: white;
  background-color: #383737;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#Home{
  margin: 20vh 30vh;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;   
}

.main-content {
  text-align: center;
  margin-top: 5vh;
}

.main-content h1 {
  font-size: 2.8rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.2rem;
}

.main-content p {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
}

.Main img {
  width: 30%;
  height: auto;
  max-width: 35%;
}

span {
  color: cyan;
}


#AboutMe{
    margin: 15vh 0;
}

.Skills h1{
    margin-bottom: 10vh;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2rem;
}

.Skillscontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}



.container {
    max-width: 90%;
    width: 100%;
    background: #282828;
    margin: 0 2rem;
    padding: 1rem 2rem;
    border-radius: 1em;
  }
  
  .container .skill-box {
    width: 100%;
    margin: 2.5rem 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(226, 226, 226);
  }
  
  .skill-box .skill-bar {
    height: 0.8rem;
    width: 100%;
    border-radius: 0.6rem;
    margin-top: 0.6rem;
    background: rgba(236, 236, 236, 0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 0.6rem;
    background: rgb(226, 226, 226);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
   
    width: 87%;
    animation-delay: 2.3s;
  }
  
  .skill-per.scss {
    
    width: 72%;
    animation-delay: 2.1s;
  }
  
  .skill-per.JavaScript {
    
    width: 30%;
    animation-delay: 1.8s;
  }

  .skill-per.PHP {
   
    width: 40%;
    animation-delay: 1.6s;
  }
  
  .skill-per.Csharp {
    
    width: 37%;
    animation-delay: 1.9s;
  }
  
  .skill-per.Java {
    
    width: 50%;
    animation-delay: 1.7s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(226, 226, 226);
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(226, 226, 226);
    transform: translateX(-50%) rotate(45deg);
  }
  
  .projects{
    width: 100%;
    padding: 5vh 15vh;
    align-items: center;
    justify-content: center;
  }

  .projects h2{
    text-align: center;
    font-size: 3rem;
    margin: 5vh auto;
  }

  .projects img{
    width: 60%;
    height: auto;
    max-width: 70%;
  }

  .projectsOne{
    display: flex;
    align-items: center;
    margin: 10vh 0;
    text-align: center;
  }

  .projectsTwo{
    display: flex;
    align-items: center;
    margin: 10vh 0;
    text-align: center;
  }

  .projectsThree{
    display: flex;
    align-items: center;
    margin: 10vh 0;
    text-align: center;
  }

  .projectsexpleft p .projectsexpright p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
  }

  .projectsexpleft h1 .projectsexpright h1{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2vh;
    text-align: center;
    max-width: 50%;
  }


#Trivia {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trivia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.trivia img {
    width: 30%;
    height: auto;
}

.triviaword {
    width: 50%;
    text-align: center;
}

.triviaword h1 {
    margin: 0;
    max-width: 80%;
}

.triviaword p {
    padding-top: 1rem;
    text-align: center;
    text-decoration: underline;
}

  .footerCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footerCont h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footerCont p{
    max-width: 40%;
    margin: 10px auto;
    line-height: 25px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
  transition: 0.7s;
  border-radius: 1em;
  padding: 0.3rem 0.5rem;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
}

.socials li:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: cyan;
  border-radius: 1em;
  padding: 0.3rem 0.5rem;
}

.socials li:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.loader {
  display: none;
  position: fixed; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#Interest {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20vh;
}

.card {
  box-sizing: border-box;
  width: 45rem;
  height: 20rem;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card h1 {
  padding: 0.4rem;
}

.Hobbies {
  display: flex;
  margin: 1.1rem;
}

.Hobbies li i {
  font-size: 1.8rem;
  padding-left: 0.5rem;
}

.Hobbies li {
  list-style-type: none;
  padding: 1rem 2rem;
}
